@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

/* Ẩn thanh trượt trên mọi trình duyệt */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.hide-scrollbar::-webkit-scrollbar-track {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}
/* app/globals.css */

@layer utilities {
  /* Hiệu ứng hiển thị mượt mà */
  .fade-in-slide {
    animation: fadeInSlide 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  /* Ẩn đi mượt mà */
  .fade-out {
     animation: fadeOut 0.2s ease-out forwards;
  }
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}