@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

/* Ẩn thanh trượt trên mọi trình duyệt */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.hide-scrollbar::-webkit-scrollbar-track {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
